%Nav {
  background: white;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  width: 100%;
  // height: 7vh;
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 1;

  a { // Links
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.07em;
    text-decoration: none;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 0px;
      height: 5px;
      margin: 5px 0 0;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      background-color: #FDEC00;
    }

    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  } // Links


  .a-clicked { // Clicked Link
    font-weight: 600;
    border-bottom: 4px solid #FDEC00;
  }

  .nav-header { // Mini Logo
    width: 15%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

} // NAV

// NAV //
.Nav {
  @extend %Nav;
  justify-content: space-between;

  .nav-header { // Mini Logo
    left:-20vw;
  }

  a {
    opacity: 0;
    left:-15vw;
    animation: navOriginal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes navOriginal {
    0% {opacity: 0}
    100% {opacity: 1}
  }

} // NAV //

// NAV2 //
.Nav2 {
  @extend %Nav;
  justify-content: space-around;

  .nav-header { // Mini Logo
    width: 15%;
    animation: navSecondary;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  a {
    // left: 0;
    animation: navSecondaryLinks;
    animation-duration:1s;
    animation-fill-mode: forwards;

  }

  @keyframes navSecondary {
    0% {left:-20vw;}
    100%{left: 0vw;}
  }
  @keyframes navSecondaryLinks {
    0% {left:-15vw;}
    100%{left: -3vw;}
  }

} // NAV2 //


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  .Nav, .Nav2 {
    height: 8vh;
    a {
      font-size: 1.25rem;
    }
  }
}


// PHONE (Portrait)
@media screen and (max-width: 400px) {
  .Nav, .Nav2 {
    height: 6.5vh;
    a {
      margin-left: 7vw;
      font-size: 1.1rem;
    }
  }
}
