.Header {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./components/headerimgs/DTNP.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.Header #Logo {
  width: 50%;
  position: relative;
  top: 15vh;
  opacity: 0;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Nav2, .Nav {
  background: white;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.Nav2 a, .Nav a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.Nav2 a:hover, .Nav a:hover {
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.Nav2 .a-clicked, .Nav .a-clicked {
  font-size: 1.3rem;
  font-weight: bold;
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.Nav2 .nav-header, .Nav .nav-header {
  width: 14vw;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.Nav {
  justify-content: space-between;
}
.Nav .nav-header {
  left: -20vw;
}
.Nav a {
  opacity: 0;
  left: -15vw;
  animation: navOriginal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes navOriginal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Nav2 {
  justify-content: space-around;
}
.Nav2 .nav-header {
  animation: navSecondary;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Nav2 a {
  animation: navSecondaryLinks;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes navSecondary {
  0% {
    left: -20vw;
  }
  100% {
    left: 0vw;
  }
}
@keyframes navSecondaryLinks {
  0% {
    left: -15vw;
  }
  100% {
    left: 0vw;
  }
}

footer {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
footer h4 {
  margin-top: 0.3vh;
  margin-bottom: 0.5vh;
  text-align: center;
  color: white;
  opacity: 0.8;
}
footer .FooterContact {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: left;
  color: white;
  opacity: 0.8;
  color: yellow;
  text-shadow: 2px 2px 3px black;
}
footer .FooterContact span {
  font-size: 0.9rem;
  cursor: pointer;
}
footer .FooterContact a {
  cursor: pointer;
  color: inherit;
}
footer .FooterInfo {
  margin-top: 2vh;
  margin-bottom: 1vh;
}
footer .FooterInfo p {
  margin-bottom: 0;
  margin-top: 0.7vh;
  color: white;
  opacity: 0.8;
}
footer .FooterInfo #design-link {
  font-size: 0.8rem;
  margin-bottom: 0.8vh;
  margin-top: 1.5vh;
  color: inherit;
  opacity: 0.7;
}
footer .FooterInfo #design-link a {
  color: inherit;
}
footer .FooterConnect {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
footer .FooterConnect i {
  margin-top: 1vh;
  color: yellow;
  text-shadow: 1px 1px 3px black;
  opacity: 0.8;
  cursor: pointer;
}
footer .FooterConnect #IG {
  margin-left: 1vh;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home .LandingText {
  font-size: 3rem;
  color: yellow;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

.ServicesLanding {
  width: 100%;
  height: 75%;
}
.ServicesLanding .ServiceText {
  text-align: center;
  color: inherit;
}
.ServicesLanding .Slider {
  width: 100%;
  max-height: 65vh;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
.ServicesLanding .Slider .SliderImg {
  position: relative;
  min-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  overflow: hidden;
  height: 65vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}
.ServicesLanding .Slider .SliderImg .SliderText {
  color: white;
  align-self: center;
  width: 32%;
  margin-left: 13vw;
}
.ServicesLanding .Slider .SliderImg .SliderText .SliderTitle {
  font-size: 3.9rem;
  text-shadow: 3px 3px black;
  margin: 0;
}
.ServicesLanding .Slider .SliderImg .SliderText .SliderDescription {
  font-size: 1.2rem;
  font-style: italic;
  text-shadow: 1px 1px black;
  margin: auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.ServicesLanding .Slider .SliderImg .SliderText #LearnMore {
  color: yellow;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 0.8rem;
}
.ServicesLanding .ServicesContainer .ServicesText p {
  text-align: center;
}
.ServicesLanding .ServicesContainer .ServiceRight, .ServicesLanding .ServicesContainer .ServiceLeft {
  border-bottom: 2px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesTitleandList, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesTitleandList {
  width: 30%;
  text-align: center;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #BABECC;
  display: flex;
  flex-direction: column;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesTitleandList h1, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesTitleandList h1 {
  color: white;
  font-size: 2.8rem;
  text-shadow: 3px 3px black;
  margin: 0.5vh auto;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesTitleandList ul, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesTitleandList ul {
  text-align: left;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesTitleandList #inquire, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesTitleandList #inquire {
  color: yellow;
  text-align: center;
  font-size: 0.8rem;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
  margin-bottom: 1vh;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesImage, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesImage {
  margin: 2vh 1.5vw;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesImage img, .ServicesLanding .ServicesContainer .ServiceLeft .ServicesImage img {
  border-radius: 2px;
  box-shadow: 4px 3px 10px 5px;
  width: 38vw;
  height: 50vh;
}
.ServicesLanding .ServicesContainer .ServiceLeft {
  flex-direction: row-reverse;
  margin-left: 5vw;
  margin-right: 5vw;
}
.ServicesLanding .ServicesContainer .ServiceLeft .ServicesTitleandList {
  margin: auto;
}
.ServicesLanding .ServicesContainer .ServiceRight {
  margin-left: 5vw;
  margin-right: 5vw;
}
.ServicesLanding .ServicesContainer .ServiceRight .ServicesTitleandList {
  margin: auto;
}

.ContactLanding {
  width: 90%;
  margin: auto;
  border-bottom: 2px solid gainsboro;
}
.ContactLanding .ContactLanding-Bottom, .ContactLanding .ContactLanding-Mid, .ContactLanding .ContactLanding-Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactLanding .ContactLanding-Top h1 {
  margin-top: 2vh;
  margin-bottom: 0;
  font-size: 3rem;
}
.ContactLanding .ContactLanding-Top h2 {
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
.ContactLanding .ContactLanding-Mid h3 {
  font-style: italic;
}
.ContactLanding .ContactLanding-Mid .ContactForm {
  border: 2px solid black;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #BABECC;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1vh;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInfo {
  display: flex;
  flex-direction: column;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInfo span {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInfo span label {
  padding-left: 0.3vw;
  width: 5.5vw;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInfo span input {
  width: 85%;
  height: 3.5vh;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire {
  display: flex;
  flex-direction: column;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire span {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4vh;
  margin-top: 0.5vh;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire span label {
  padding-left: 0.3vw;
  width: 5.5vw;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire span input {
  width: 85%;
  height: 3.5vh;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire #inquire-label {
  margin: 1vh auto;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormInquire textarea {
  height: 20vh;
  width: 98%;
  margin: auto;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormButton {
  display: flex;
}
.ContactLanding .ContactLanding-Mid .ContactForm .ContactFormButton input {
  margin: 1vh auto;
  width: 7vw;
  height: 4vh;
  font-size: 1.1rem;
  cursor: pointer;
}
.ContactLanding .ContactLanding-Bottom {
  margin-bottom: 2vh;
}
.ContactLanding .ContactLanding-Bottom h3 {
  font-style: italic;
}
.ContactLanding .ContactLanding-Bottom span, .ContactLanding .ContactLanding-Bottom a {
  color: black;
  font-size: 1.2rem;
}
.ContactLanding .ContactLanding-Bottom span:hover, .ContactLanding .ContactLanding-Bottom a:hover {
  color: yellow;
  text-shadow: 1px 1px 3px black;
}

.AboutLanding {
  border-bottom: 2px solid gainsboro;
  width: 90%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
}
.AboutLanding .AboutLanding-Top {
  width: 100%;
  display: flex;
}
.AboutLanding .AboutLanding-Top h1 {
  margin: auto;
}
.AboutLanding .AboutLanding-Mid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}
.AboutLanding .AboutLanding-Mid .AboutLandingImg {
  width: 18vw;
  height: 35vh;
}
.AboutLanding .AboutLanding-Mid .AboutLandingText {
  border: 1px solid black;
  width: 40%;
  text-align: center;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  overflow-x: hidden;
  height: 100%;
}

.App {
  background: white;
}

/*# sourceMappingURL=App.css.map */
