* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  overflow-x: hidden;
  height: 100%;
}

.App {
  background: white;
}
.App .Header {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./components/headerimgs/DTNP.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.App .Header #Logo {
  width: 50%;
  margin-top: 15vh;
}
.App .Nav {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: 0.5s ease-in;
}
.App .Nav .nav-header {
  color: white;
  opacity: 1;
  text-shadow: 3px 3px black;
  transition: 1s ease-in;
  cursor: pointer;
  height: 100%;
  width: 14vw;
}
.App .Nav p {
  color: black;
  cursor: pointer;
}
.App .Nav p:hover {
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.App .Nav .a-clicked {
  font-size: 1.3rem;
  font-weight: bold;
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.App .Home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.App .Home .ServicesLanding {
  width: 100%;
  height: 75%;
}
.App .Home .ServicesLanding .ServiceText {
  text-align: center;
  color: inherit;
}
.App .Home .ServicesLanding .Slider {
  width: 100%;
  max-height: 65vh;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
.App .Home .ServicesLanding .Slider .SliderImg {
  position: relative;
  min-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  overflow: hidden;
  height: 65vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}
.App .Home .ServicesLanding .Slider .SliderImg .SliderText {
  color: white;
  align-self: center;
  width: 32%;
  margin-left: 13vw;
}
.App .Home .ServicesLanding .Slider .SliderImg .SliderText .SliderTitle {
  font-size: 3.9rem;
  text-shadow: 3px 3px black;
  margin: 0;
}
.App .Home .ServicesLanding .Slider .SliderImg .SliderText .SliderDescription {
  font-size: 1.2rem;
  font-style: italic;
  text-shadow: 1px 1px black;
  margin: auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.App .Home .ServicesLanding .Slider .SliderImg .SliderText #LearnMore {
  color: yellow;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 0.8rem;
}
.App .Home .ServicesLanding .Slider #next, .App .Home .ServicesLanding .Slider #prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  color: white;
  transition: 0.5s;
}
.App .Home .ServicesLanding .Slider #next:hover, .App .Home .ServicesLanding .Slider #prev:hover {
  background: rgba(5, 5, 5, 0.47);
  cursor: pointer;
}
.App .Home .ServicesLanding .Slider #prev {
  left: 0;
}
.App .Home .ServicesLanding .Slider #next {
  right: 0;
}
.App .Home .LandingText {
  font-size: 3rem;
  color: yellow;
  text-shadow: 2px 2px 3px black;
}
.App .Home .AboutLanding {
  border-bottom: 3px solid white;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App .Home .AboutLanding .AboutLandingText {
  border: 1px solid black;
  width: 50%;
  height: 90%;
  text-align: center;
}
.App .Home .ContactLanding {
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
}
.App .Home .ContactLanding h1 {
  margin-top: 2vh;
  margin-bottom: 0;
}
.App .Home .ContactLanding h3 {
  margin-top: 1vh;
}
.App .Home .ContactLanding .ContactLandingContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 4vh;
}
.App .Home .ContactLanding .ContactLandingContainer .ContactLandingLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.App .Home .ContactLanding .ContactLandingContainer .ContactLandingLeft a {
  color: yellow;
  text-shadow: 1px 1px 3px black;
}
.App .Home .ContactLanding .ContactLandingContainer .ContactLandingLeft i {
  color: black;
}
.App .Home .ContactLanding .ContactLandingContainer .ContactLandingRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .Home .ContactLanding .ContactLandingContainer .ContactLandingRight #contact-link {
  cursor: pointer;
  color: yellow;
  text-shadow: 1px 1px 3px black;
  text-decoration: underline;
  background-image: url();
}
.App .PageTitle {
  text-align: center;
  font-size: 2.8rem;
  color: yellow;
  text-shadow: 2px 2px 3px black;
}
.App .ServicesContainer .ServicesText p {
  text-align: center;
}
.App .ServicesContainer .ServiceRight, .App .ServicesContainer .ServiceLeft {
  border-bottom: 2px solid gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.App .ServicesContainer .ServiceRight .ServicesTitleandList, .App .ServicesContainer .ServiceLeft .ServicesTitleandList {
  width: 30%;
  text-align: center;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #BABECC;
}
.App .ServicesContainer .ServiceRight .ServicesTitleandList h1, .App .ServicesContainer .ServiceLeft .ServicesTitleandList h1 {
  color: white;
  font-size: 2.8rem;
  text-shadow: 3px 3px black;
}
.App .ServicesContainer .ServiceRight .ServicesTitleandList ul, .App .ServicesContainer .ServiceLeft .ServicesTitleandList ul {
  text-align: left;
}
.App .ServicesContainer .ServiceRight .ServicesTitleandList #inquire, .App .ServicesContainer .ServiceLeft .ServicesTitleandList #inquire {
  color: yellow;
  text-align: center;
  font-size: 0.8rem;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
}
.App .ServicesContainer .ServiceRight .ServicesImage, .App .ServicesContainer .ServiceLeft .ServicesImage {
  margin: 1.5vh 1.5vw;
}
.App .ServicesContainer .ServiceRight .ServicesImage img, .App .ServicesContainer .ServiceLeft .ServicesImage img {
  border-radius: 2px;
  box-shadow: 4px 3px 10px 5px;
  width: 42.5vw;
  height: 55vh;
}
.App .ServicesContainer .ServiceLeft {
  flex-direction: row-reverse;
  margin-left: 5vw;
  margin-right: 5vw;
}
.App .ServicesContainer .ServiceLeft .ServicesTitleandList {
  margin: auto;
}
.App .ServicesContainer .ServiceRight {
  margin-left: 5vw;
  margin-right: 5vw;
}
.App .ServicesContainer .ServiceRight .ServicesTitleandList {
  margin: auto;
}
.App .Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .Contact .ContactForm {
  border: 2px solid black;
  height: 60vh;
  width: 40vw;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #BABECC;
}
.App .Contact .ContactForm .ContactFormInfo {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.App .Contact .ContactForm .ContactFormInfo span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .Contact .ContactForm .ContactFormInfo input {
  width: 10vw;
  height: 3vh;
  text-align: center;
}
.App .Contact .ContactForm .ContactFormInquire {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .Contact .ContactForm .ContactFormInquire textarea {
  width: 90%;
  height: 25vh;
}
.App .Contact .ContactForm .ContactFormButton {
  align-self: center;
}
.App .Contact .ContactForm .ContactFormButton button {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  background: black;
  border: 2px solid white;
  box-shadow: 1px 1px 3px black;
  width: 8vw;
  height: 4vh;
  border-radius: 5px;
}
.App footer {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.App footer h4 {
  margin-top: 0.3vh;
  margin-bottom: 0.5vh;
  text-align: center;
  color: white;
  opacity: 0.8;
}
.App footer .FooterContact {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: left;
  color: white;
  opacity: 0.8;
  color: yellow;
  text-shadow: 2px 2px 3px black;
}
.App footer .FooterContact span {
  font-size: 0.9rem;
  cursor: pointer;
}
.App footer .FooterContact a {
  cursor: pointer;
  color: inherit;
}
.App footer .FooterInfo {
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.App footer .FooterInfo p {
  margin-bottom: 0;
  margin-top: 0.7vh;
  color: white;
  opacity: 0.8;
}
.App footer .FooterInfo #design-link {
  font-size: 0.8rem;
  margin-bottom: 0.8vh;
  margin-top: 1.5vh;
  color: inherit;
  opacity: 0.7;
}
.App footer .FooterInfo #design-link a {
  color: inherit;
}
.App footer .FooterConnect {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.App footer .FooterConnect i {
  margin-top: 1vh;
  color: yellow;
  text-shadow: 1px 1px 3px black;
  opacity: 0.8;
  cursor: pointer;
}
.App footer .FooterConnect #IG {
  margin-left: 1vh;
}

/*# sourceMappingURL=App.css.map */
