.modal-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}
.modal-overlay .modal-container {
  background: #f7f7f7;
  width: 21vw;
  height: 18vh;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #403F45;
}
.modal-overlay .modal-container p {
  font-size: 1.6rem;
  margin: 1.5vh auto 2.5vh;
  color: #f7f7f7;
}
.modal-overlay .modal-container button {
  cursor: pointer;
  border-radius: 3px;
  width: 6.5vw;
  height: 5vh;
  font-size: 1.1rem;
  letter-spacing: 0.1vw;
  border: 2px solid #FDEC00;
  color: #FDEC00;
  background: #403F45;
  transition: all 0.2s ease-in-out;
  margin-top: 0;
}
.modal-overlay .modal-container button:hover {
  color: #403F45;
  background: #FDEC00;
}

@media screen and (max-width: 1300px) {
  .modal-overlay .modal-container {
    width: 26vw;
    height: 22vh;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #403F45;
  }
  .modal-overlay .modal-container p {
    font-size: 1.6rem;
    margin: 1.5vh auto 2.6vh;
    color: #f7f7f7;
  }
  .modal-overlay .modal-container button {
    cursor: pointer;
    border-radius: 3px;
    width: 6.5vw;
    height: 5.5vh;
    font-size: 1.1rem;
    letter-spacing: 0.1vw;
    border: 2px solid #FDEC00;
    color: #FDEC00;
    background: #403F45;
    transition: all 0.2s ease-in-out;
  }
}
@media screen and (max-width: 420px) {
  .modal-overlay .modal-container {
    width: 85%;
    height: 18vh;
  }
  .modal-overlay .modal-container p {
    margin: 2vh auto;
  }
  .modal-overlay .modal-container button {
    width: 23vw;
    height: 5vh;
    margin: 0 auto;
  }
}
#Header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./components/Header/headerimgs/DTNP.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  animation: headingContainer;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes headingContainer {
  0% {
    height: 100vh;
  }
  100% {
    height: 55vh;
  }
}
#Header #Logo {
  margin: 0 auto;
  width: 60%;
  position: relative;
  bottom: 6.5vh;
  opacity: 0;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#Header h1 {
  color: #eee;
  position: relative;
  bottom: 6vh;
  margin-top: 1vh;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.5rem;
  letter-spacing: 0.03em;
  opacity: 0;
  animation: heading;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  #Header h1 {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 420px) {
  #Header {
    background-position: center;
  }
  @keyframes headingContainer {
    0% {
      height: 100vh;
    }
    100% {
      height: 30vh;
    }
  }
  #Header #Logo {
    width: 95%;
    bottom: 3vh;
  }
  #Header h1 {
    font-size: 1.3rem;
    bottom: 3vh;
  }
}
.Nav2, .Nav {
  background: white;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.Nav2 a, .Nav a {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.Nav2 a:before, .Nav a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background-color: #FDEC00;
}
.Nav2 a:hover:before, .Nav a:hover:before {
  width: 100%;
  opacity: 1;
}
.Nav2 .a-clicked, .Nav .a-clicked {
  font-weight: 600;
  border-bottom: 4px solid #FDEC00;
}
.Nav2 .nav-header, .Nav .nav-header {
  width: 15%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.Nav {
  justify-content: space-between;
}
.Nav .nav-header {
  left: -20vw;
}
.Nav a {
  opacity: 0;
  left: -15vw;
  animation: navOriginal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes navOriginal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Nav2 {
  justify-content: space-around;
}
.Nav2 .nav-header {
  width: 15%;
  animation: navSecondary;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Nav2 a {
  animation: navSecondaryLinks;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes navSecondary {
  0% {
    left: -20vw;
  }
  100% {
    left: 0vw;
  }
}
@keyframes navSecondaryLinks {
  0% {
    left: -15vw;
  }
  100% {
    left: -3vw;
  }
}

@media screen and (max-width: 1300px) {
  .Nav, .Nav2 {
    height: 8vh;
  }
  .Nav a, .Nav2 a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 420px) {
  .Nav, .Nav2 {
    height: 6.5vh;
  }
  .Nav a, .Nav2 a {
    margin-left: 7.5vw;
    font-size: 1.1rem;
  }
  .Nav a:hover:before, .Nav2 a:hover:before {
    width: 100%;
    opacity: 0;
    background-color: white;
  }

  .Nav2 a {
    margin-left: 4vw;
  }
  .Nav2 .nav-header {
    display: none;
  }
}
#ServicesLanding {
  width: 100%;
}
#ServicesLanding .ServiceText {
  text-align: center;
}
#ServicesLanding .ServiceText h2 {
  width: 53%;
  font-size: 2.3rem;
  margin: 3vh auto 0 auto;
}
#ServicesLanding .ServiceText .mission-statement {
  width: 80%;
  font-size: 1.5rem;
  line-height: 4vh;
  margin: 1vh auto 4vh;
  font-style: italic;
}

@media screen and (max-width: 1300px) {
  #ServicesLanding .ServiceText h2 {
    width: 70%;
    margin: 3.5vh auto 0 auto;
  }
  #ServicesLanding .ServiceText .mission-statement {
    width: 90%;
    font-size: 1.3rem;
    margin: 1.5vh auto 5vh;
  }
}
@media screen and (max-width: 420px) {
  #ServicesLanding .ServiceText h2 {
    margin-top: 2vh;
    font-size: 1.5rem;
    width: 95%;
  }
  #ServicesLanding .ServiceText .mission-statement {
    width: 90%;
    font-size: 1.2rem;
    line-height: 2.5vh;
    margin: 1vh auto 2.5vh;
  }
}
#Slider {
  width: 100%;
  height: 94vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
#Slider .SliderImg {
  position: relative;
  min-width: 100%;
  max-height: 100%;
  transition: 0.8s;
  overflow: hidden;
  height: 94vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}
#Slider .SliderImg .SliderText {
  color: white;
  align-self: center;
  width: 35%;
  margin-left: 8vw;
}
#Slider .SliderImg .SliderText .SliderTitle {
  font-size: 5rem;
  text-shadow: 3px 3px black;
  margin: 0;
  line-height: 9vh;
}
#Slider .SliderImg .SliderText .SliderDescription {
  font-size: 1.6rem;
  font-style: italic;
  text-shadow: 1px 1px black;
  margin: auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
#Slider .SliderImg .SliderText #LearnMore {
  color: #FDEC00;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 1.2rem;
  padding-left: 0.2vw;
}

@media screen and (max-width: 1300px) {
  #Slider .SliderImg .SliderText {
    width: 40%;
  }
  #Slider .SliderImg .SliderText .SliderTitle {
    font-size: 4rem;
  }
  #Slider .SliderImg .SliderText .SliderDescription {
    font-size: 1.3rem;
  }
  #Slider .SliderImg .SliderText #LearnMore {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 420px) {
  #Slider {
    height: 75vh;
  }
  #Slider .SliderImg .SliderText {
    width: 90%;
  }
  #Slider .SliderImg .SliderText .SliderTitle {
    font-size: 3.2rem;
    line-height: 6vh;
  }
  #Slider .SliderImg .SliderText .SliderDescription {
    font-size: 1.2rem;
    width: 95%;
    margin-left: 0;
  }
  #Slider .SliderImg .SliderText #LearnMore {
    font-size: 0.9rem;
  }
}
#ServicesContainer {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid gainsboro;
}
#ServicesContainer .ServicesText h1 {
  margin: 2.5vh auto 1vh;
}
#ServicesContainer .ServicesText p {
  width: 95%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 2.5vh;
  font-style: italic;
}

@media screen and (max-width: 1300px) {
  #ServicesContainer .ServicesText p {
    line-height: 4vh;
    margin: 0 auto 4vh;
  }
}
@media screen and (max-width: 420px) {
  #ServicesContainer .ServicesText p {
    font-size: 1.2rem;
    margin-bottom: 2vh;
    line-height: 3vh;
    width: 95%;
  }
}
.ServiceRight, .ServiceLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  border-radius: 6px;
  background-color: #403F45;
  box-shadow: 12px 13px 10px -1px rgba(0, 0, 0, 0.55);
  margin-bottom: 5vh;
}
.ServiceRight .ServicesTitleandList, .ServiceLeft .ServicesTitleandList {
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.ServiceRight .ServicesTitleandList h1, .ServiceLeft .ServicesTitleandList h1 {
  color: white;
  font-size: 3.3rem;
  margin: 0.3vh auto 0.5vh;
  text-align: center;
}
.ServiceRight .ServicesTitleandList ul, .ServiceLeft .ServicesTitleandList ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 65%;
  line-height: 3vh;
  height: 18vh;
  padding-left: 3vw;
}
.ServiceRight .ServicesTitleandList ul li, .ServiceLeft .ServicesTitleandList ul li {
  color: #eee;
  list-style: circle;
  font-size: 1.3rem;
  margin-right: 2vw;
}
.ServiceRight .ServicesTitleandList #inquire, .ServiceLeft .ServicesTitleandList #inquire {
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px;
  width: 20vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2vh;
  color: black;
  font-weight: bold;
  border: 2px solid #FDEC00;
  background: #FDEC00;
  border-radius: 2px;
  box-shadow: 8px 6px 10px black;
  transition: all 0.2s ease-in-out;
}
.ServiceRight .ServicesTitleandList #inquire:hover, .ServiceLeft .ServicesTitleandList #inquire:hover {
  background: none;
  color: #FDEC00;
}
.ServiceRight .ServicesImage, .ServiceLeft .ServicesImage {
  margin: 2vh 1.5vw;
}
.ServiceRight .ServicesImage img, .ServiceLeft .ServicesImage img {
  border-radius: 2px;
  box-shadow: 4px 3px 15px 5px;
  width: 38vw;
  height: 50vh;
  border-radius: 3px;
}

.ServiceLeft {
  flex-direction: row-reverse;
  margin-left: 5vw;
  margin-right: 5vw;
}
.ServiceLeft ul {
  margin-bottom: 2.5vh;
}

.ServiceRight {
  margin-left: 5vw;
  margin-right: 5vw;
}
.ServiceRight .ServicesTitleandList ul {
  padding-left: 4vw;
  margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
  .ServiceLeft, .ServiceRight {
    margin: auto;
    margin-bottom: 5vh;
  }
  .ServiceLeft .ServicesTitleandList h1, .ServiceRight .ServicesTitleandList h1 {
    font-size: 3rem;
  }
  .ServiceLeft .ServicesTitleandList ul, .ServiceRight .ServicesTitleandList ul {
    width: 65%;
    margin-bottom: 2.5vh;
    padding-left: 4vw;
  }
  .ServiceLeft .ServicesTitleandList ul li, .ServiceRight .ServicesTitleandList ul li {
    margin-bottom: 0.1vh;
    margin-right: 2vw;
    font-size: 1.2rem;
    line-height: 3.5vh;
  }
  .ServiceLeft .ServicesTitleandList #inquire, .ServiceRight .ServicesTitleandList #inquire {
    width: 25vw;
    height: 5vh;
  }
  .ServiceLeft .ServicesImage img, .ServiceRight .ServicesImage img {
    width: 40vw;
    margin-left: 2.3vw;
    margin-right: 1.8vw;
  }
}
@media screen and (max-width: 420px) {
  .ServiceLeft, .ServiceRight {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .ServiceLeft .ServicesTitleandList, .ServiceRight .ServicesTitleandList {
    width: 98% !important;
    margin: auto;
  }
  .ServiceLeft .ServicesTitleandList h1, .ServiceRight .ServicesTitleandList h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5vh;
    margin-top: 0;
  }
  .ServiceLeft .ServicesTitleandList ul, .ServiceRight .ServicesTitleandList ul {
    height: auto;
    width: 90% !important;
    margin: 0.5vh auto;
  }
  .ServiceLeft .ServicesTitleandList ul li, .ServiceRight .ServicesTitleandList ul li {
    font-size: 1.2rem;
    margin-left: 4vw !important;
    line-height: 2.5vh;
  }
  .ServiceLeft .ServicesTitleandList #inquire, .ServiceRight .ServicesTitleandList #inquire {
    margin-top: 2.5vh;
    width: 90%;
    height: 4.2vh;
    font-size: 1rem;
  }
  .ServiceLeft .ServicesImage img, .ServiceRight .ServicesImage img {
    width: 95%;
    height: 30vh;
  }
}
footer {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
footer h4 {
  margin-top: 0.3vh;
  margin-bottom: 0.5vh;
  text-align: center;
  color: #f7f7f7;
  opacity: 0.8;
}
footer .FooterContact {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: left;
  opacity: 0.8;
  color: #FDEC00;
  text-shadow: 2px 2px 3px black;
}
footer .FooterContact span {
  font-size: 0.9rem;
}
footer .FooterContact a {
  cursor: pointer;
  color: inherit;
}
footer .FooterInfo {
  margin-top: 2vh;
  margin-bottom: 1vh;
}
footer .FooterInfo p {
  margin-bottom: 0;
  margin-top: 0.7vh;
  color: #f7f7f7;
  opacity: 0.8;
}
footer .FooterInfo #design-link {
  font-size: 0.9rem;
  margin-bottom: 0.8vh;
  margin-top: 1.5vh;
  color: inherit;
}
footer .FooterInfo #design-link:hover a {
  color: #f7f7f7;
}
footer .FooterInfo #design-link a {
  color: inherit;
}
footer .FooterConnect {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
footer .FooterConnect i {
  margin-top: 1vh;
  color: #FDEC00;
  text-shadow: 1px 1px 3px black;
  opacity: 0.8;
  cursor: pointer;
}
footer .FooterConnect #IG {
  margin-left: 1vh;
}

@media screen and (max-width: 420px) {
  footer {
    flex-direction: column-reverse;
  }
  footer h4 {
    display: none;
  }
  footer .FooterContact {
    order: 1;
    align-self: flex-start;
    width: 45%;
    margin-top: -3vh;
    margin-left: 5vw;
    font-size: 1.1rem;
  }
  footer .FooterInfo {
    margin: 0 auto 1vh;
    width: 100%;
  }
  footer .FooterInfo P {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  footer .FooterInfo #design-link {
    margin-top: 0.6vh;
  }
  footer .FooterConnect {
    order: 2;
    width: 25%;
    margin-right: 5vw;
    margin-bottom: -2.5vh;
    margin-top: 2vh;
    align-self: flex-end;
  }
}
.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home .LandingText {
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .Home .LandingText {
    font-size: 2.5rem;
  }
}
#ContactLanding {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid gainsboro;
  height: 95vh;
}
#ContactLanding .ContactLanding-Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ContactLanding .ContactLanding-Top h1 {
  margin-top: 3vh;
  margin-bottom: 0;
  font-size: 3rem;
}
#ContactLanding .ContactLanding-Top h2 {
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}
#ContactLanding .ContactLanding-Mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ContactLanding .ContactLanding-Mid h3 {
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 1vh;
}
#ContactLanding .ContactLanding-Bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}
#ContactLanding .ContactLanding-Bottom h3 {
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
}
#ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2vw;
}
#ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span i {
  font-size: 1.1rem;
}
#ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span, #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links a {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0;
  transition: all 0.2s ease-in-out;
}
#ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span:hover, #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links a:hover {
  color: #FDEC00;
}

@media screen and (max-width: 1300px) {
  #ContactLanding {
    height: 102vh;
  }
  #ContactLanding .ContactLanding-Top h1 {
    font-size: 2.3rem;
    margin-top: 1.5vh;
  }
  #ContactLanding .ContactLanding-Top h2 {
    font-size: 1.5rem;
  }
  #ContactLanding .ContactLanding-Mid h3 {
    font-size: 1.2rem;
  }
  #ContactLanding form {
    width: 55%;
    margin-bottom: 0;
  }
  #ContactLanding .ContactLanding-Bottom h3 {
    font-size: 1.2rem;
    margin-bottom: 2vh;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links {
    width: 35%;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span {
    font-size: 1rem;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 420px) {
  #ContactLanding {
    height: 97vh;
  }
  #ContactLanding .ContactLanding-Top h1 {
    font-size: 2.3rem;
    margin-top: 1.5vh;
  }
  #ContactLanding .ContactLanding-Top h2 {
    font-size: 1.3rem;
  }
  #ContactLanding .ContactLanding-Mid h3 {
    font-size: 1.1rem;
    margin-top: 1vh;
  }
  #ContactLanding .ContactLanding-Bottom h3 {
    margin-bottom: 1vh;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span {
    margin-bottom: 1vh;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span i {
    font-size: 0.9rem;
  }
  #ContactLanding .ContactLanding-Bottom .ContactLanding-Bottom-Links span a {
    font-size: 1.1rem;
  }
}
.ContactForm {
  border: 2px solid #403F45;
  box-shadow: 10px 20px 25px 0px rgba(0, 0, 0, 0.75);
  background: #403F45;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  margin-bottom: 1vh;
  border-radius: 5px;
}
.ContactForm .ContactFormInquire span input, .ContactForm .ContactFormInfo span input {
  width: 90%;
  height: 4.5vh;
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding-left: 0.7vh;
}
.ContactForm .ContactFormInquire span label, .ContactForm .ContactFormInfo span label {
  width: 5vw;
  font-weight: bold;
  font-size: 1.3rem;
}
.ContactForm .ContactFormInquire span, .ContactForm .ContactFormInfo span {
  width: 100%;
  display: flex;
  align-items: center;
}
.ContactForm .ContactFormInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  color: #eee;
}
.ContactForm .ContactFormInquire {
  display: flex;
  flex-direction: column;
  color: #eee;
}
.ContactForm .ContactFormInquire span {
  margin-top: 1vh;
}
.ContactForm .ContactFormInquire #inquire-label {
  margin: 1vh auto;
  font-weight: bold;
  font-size: 1.2rem;
}
.ContactForm .ContactFormInquire textarea {
  height: 20vh;
  width: 98%;
  margin: 0 auto 1vh;
  padding: 1vh 0.5vw;
  border-radius: 3px;
}
.ContactForm .ContactFormButton {
  display: flex;
}
.ContactForm .ContactFormButton input {
  margin: 1vh auto;
  width: 8vw;
  height: 4.5vh;
  font-size: 1.2rem;
  cursor: pointer;
  background: none;
  border-radius: 4px;
  border: 2px solid #FDEC00;
  background: none;
  color: #FDEC00;
  transition: all 0.2s ease-in-out;
}
.ContactForm .ContactFormButton input:hover {
  background: #FDEC00;
  color: black;
}

@media screen and (max-width: 1300px) {
  .ContactForm {
    height: 65vh;
  }
  .ContactForm .ContactFormInfo span {
    margin-bottom: 1.5vh;
    margin-top: 0;
  }
  .ContactForm .ContactFormInfo span label {
    width: 6.2vw;
  }
  .ContactForm .ContactFormInfo span input {
    height: 5vh;
  }
  .ContactForm .ContactFormInquire span {
    margin-top: 0;
  }
  .ContactForm .ContactFormInquire span label {
    width: 6.2vw;
  }
  .ContactForm .ContactFormInquire span input {
    height: 5vh;
  }
  .ContactForm .ContactFormInquire #inquire-label {
    margin: 1.2vh auto;
  }
  .ContactForm .ContactFormInquire textarea {
    margin-bottom: 0;
  }
  .ContactForm .ContactFormButton input {
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 420px) {
  .ContactForm {
    width: 100% !important;
  }
  .ContactForm .ContactFormInfo {
    margin-bottom: 1vh;
  }
  .ContactForm .ContactFormInfo span {
    margin-bottom: 1vh;
  }
  .ContactForm .ContactFormInfo span label {
    width: 20vw;
    font-size: 1.1rem;
  }
  .ContactForm .ContactFormInfo span input {
    height: 4.5vh;
  }
  .ContactForm .ContactFormInquire span {
    margin-bottom: 1vh;
  }
  .ContactForm .ContactFormInquire span label {
    font-size: 1.1rem;
    width: 20vw;
  }
  .ContactForm .ContactFormInquire span input {
    height: 4.5vh;
  }
  .ContactForm .ContactFormInquire #inquire-label {
    font-size: 1.1rem;
  }
  .ContactForm .ContactFormInquire textarea {
    width: 100%;
  }
  .ContactForm .ContactFormButton input {
    width: 25vw;
    height: 4.5vh;
    margin-top: 2vh;
  }
}
.AboutLanding {
  border-bottom: 2px solid gainsboro;
  width: 95%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
}
.AboutLanding .AboutLanding-Top {
  width: 100%;
  display: flex;
}
.AboutLanding .AboutLanding-Top h1 {
  margin: 0 auto 3vh;
}
.AboutLanding .AboutLanding-Mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4vh;
}
.AboutLanding .AboutLanding-Mid .AboutLandingImg {
  width: 18vw;
  height: 40vh;
}
.AboutLanding .AboutLanding-Mid .AboutLandingText {
  width: 40%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 5px 33px 0px rgba(0, 0, 0, 0.75);
  background: #f7f7f7;
}
.AboutLanding .AboutLanding-Mid .AboutLandingText h1 {
  text-align: center;
  margin: 1vh auto;
}
.AboutLanding .AboutLanding-Mid .AboutLandingText h3 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
}
.AboutLanding .AboutLanding-Mid .AboutLandingText p {
  font-size: 1.2rem;
  line-height: 2.5vh;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 2vh;
}

@media screen and (max-width: 1300px) {
  .AboutLanding {
    height: 82vh;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingImg {
    height: 50vh;
    width: 24vw;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText {
    width: 50%;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText h1 {
    margin-bottom: 1vh;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText p {
    line-height: 3.5vh;
  }
}
@media screen and (max-width: 420px) {
  .AboutLanding {
    height: 120vh;
  }
  .AboutLanding .AboutLanding-Top h1 {
    margin-bottom: 0;
  }
  .AboutLanding .AboutLanding-Mid {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingImg {
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 0;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText {
    width: 100%;
    box-shadow: 10px 8px 10px -2px rgba(0, 0, 0, 0.5);
    box-shadow: none;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText h3 {
    font-size: 1.2rem;
    width: 100%;
  }
  .AboutLanding .AboutLanding-Mid .AboutLandingText p {
    line-height: normal;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f7f7f7;
  font-family: "Open Sans";
}

@media screen and (max-width: 420px) {
  .App {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

/*# sourceMappingURL=App.css.map */
