// ABOUT LANDING //
.AboutLanding {
  border-bottom: 2px solid gainsboro;
  width: 90%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: center;

  .AboutLanding-Top {
    width: 100%;
    display: flex;

    h1 {
      margin: auto;
    }
  }

  .AboutLanding-Mid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;

    .AboutLandingImg {
      width: 18vw;
      height: 35vh;
    }
    .AboutLandingText { // About paragraph
      border: 1px solid black;
      width: 40%;
      // height: 90%;
      text-align: center;
    }
  }


} // ABOUT LANDING //



// TABLETS --> up to 1100px
@media screen and (max-width: 1100px) {
  .AboutLanding {
    .AboutLanding-Top {

    }

    .AboutLanding-Mid {
      justify-content: space-between;

      .AboutLandingImg {
        width: 30vw;
        height: 30vh;
      }
      .AboutLandingText {
        width: 55vw;
        // height: 80%;
        height: 30vh;
      }
    }


  } // ABOUT LANDING //
}

// PHONES --> up to 500px
@media screen and (max-width: 500px) {
  .AboutLanding {
    .AboutLanding-Top {

    }

    .AboutLanding-Mid {
      flex-direction: column-reverse;
      margin-top: 2vh;

      .AboutLandingImg {
        margin-top: 2vh;
        width: 60%;
      }
      .AboutLandingText {
        width: 95%;
      }
    }


  } // ABOUT LANDING //
}
