// ABOUT LANDING //
.AboutLanding {
  border-bottom: 2px solid gainsboro;
  width: 95%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;

  .AboutLanding-Top {
    width: 100%;
    display: flex;

    h1 {
      margin: 0 auto 3vh;
    }
  }

  .AboutLanding-Mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4vh;

    .AboutLandingImg {
      width: 30vw;
      height: 40vh;
    }
    .AboutLandingText { // About paragraph
      width: 40%;
      padding: 10px;
      border: 1px solid black;
      border-radius: 3px;
      box-shadow: 0px 5px 33px 0px rgba(0,0,0,0.75);
      background: #f7f7f7;
      h1 {
        text-align: center;
        margin: 1vh auto;
      }

      h3 {
        margin-top: 0;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
      }

      p {
        font-size: 1.2rem;
        line-height: 2.5vh;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-bottom: 2vh;
      }
    }
  }
} // ABOUT LANDING //


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  .AboutLanding {
    height: 82vh;

    .AboutLanding-Top {

      h1 {

      }
    }

    .AboutLanding-Mid {


      .AboutLandingImg {
        height: 56vh;
        width: 40vw;
        // border: 1px solid black;
      }
      .AboutLandingText { // About paragraph
        width: 50%;

        h1 {
          margin-bottom: 1vh;
        }

        p {
          line-height: 3.5vh;

        }
      }
    }
  } // ABOUT LANDING //
}

@media screen and (max-width: 1100px) {
  .AboutLanding {
    height: 95vh;
    .AboutLanding-Mid {
      flex-direction: column;
      .AboutLandingImg {
        // width: 47vw;
        // height: 50vh;
        width: 65vw;
        height: 40vh;
        margin-top: -1vh;
        margin-bottom: 1.5vh;
      }
      .AboutLandingText {
        width: 90vw;
        height: 43vh;
      }
    }
  }
}


// PHONE (Portrait)
@media screen and (max-width: 420px) {
  .AboutLanding {
    height: 120vh;
    .AboutLanding-Top {
      h1 {
        margin-bottom: 0;

      }
    }

    .AboutLanding-Mid {
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2vh;

      .AboutLandingImg {
        width: 100%;
        margin-bottom: 1vh;
        height: 50vh;
        margin-top: 0;
      }
      .AboutLandingText { // About paragraph
        width: 100%;
        box-shadow: 10px 8px 10px -2px rgba(0,0,0,0.5);
        box-shadow: none;
        height: 54vh;
        margin-top: 1vh;
        margin-bottom: 0;

        h3 {
          font-size: 1.2rem;
          width: 100%;
        }

        p {
          line-height: normal;
          width: 100%;
        }
      }
    }
  } // ABOUT LANDING //
}
