// ABOUT LANDING //
.AboutLanding {
  border-bottom: 2px solid gainsboro;
  width: 90%;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: center;

  .AboutLanding-Top {
    width: 100%;
    display: flex;

    h1 {
      margin: auto;
    }
  }

  .AboutLanding-Mid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;

    .AboutLandingImg {
      width: 18vw;
      height: 40vh;
    }
    .AboutLandingText { // About paragraph
      width: 50%;

      h1 {
        text-align: center;
        margin-top: 1vh;
      }

      h3 {
        margin-top: 0;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
        line-height: 2.5vh;
        text-align: center;
        width: 100%;
        // margin: auto;
      }
    }
  }
} // ABOUT LANDING //


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  .AboutLanding {
    height: 65vh;

    .AboutLanding-Top {


      h1 {

      }
    }

    .AboutLanding-Mid {


      .AboutLandingImg {
        height: 45vh;
        width: 20vw;
      }
      .AboutLandingText { // About paragraph

        h1 {
          margin-bottom: 1vh;
        }

        p {
          line-height: 3.5vh;

        }
      }
    }
  } // ABOUT LANDING //
}


// PHONE (Portrait)
@media screen and (max-width: 400px) {
  .AboutLanding {
    height: 115vh;
    .AboutLanding-Top {
      h1 {

      }
    }

    .AboutLanding-Mid {
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2vh;

      .AboutLandingImg {
        width: 90%;
        margin-bottom: 1vh;
      }
      .AboutLandingText { // About paragraph
        width: 100%;
        h1 {

        }

        h3 {
          font-size: 1.2rem;
          width: 100%;
        }

        p {
          line-height: normal;
        }
      }
    }
  } // ABOUT LANDING //
}


// // TABLETS --> up to 1100px
// @media screen and (max-width: 1100px) {
//   .AboutLanding {
//     .AboutLanding-Top {
//
//     }
//
//     .AboutLanding-Mid {
//       justify-content: space-between;
//
//       .AboutLandingImg {
//         width: 30vw;
//         height: 30vh;
//       }
//       .AboutLandingText {
//         width: 55vw;
//         // height: 80%;
//         height: 30vh;
//       }
//     }
//
//
//   } // ABOUT LANDING //
// }
//
// // PHONES --> up to 500px
// @media screen and (max-width: 500px) {
//   .AboutLanding {
//     .AboutLanding-Top {
//
//     }
//
//     .AboutLanding-Mid {
//       flex-direction: column-reverse;
//       margin-top: 2vh;
//
//       .AboutLandingImg {
//         margin-top: 2vh;
//         width: 60%;
//       }
//       .AboutLandingText {
//         width: 95%;
//       }
//     }
//
//
//   } // ABOUT LANDING //
// }
