#ServicesContainer {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid gainsboro;

  .ServicesText {
    h1 {
      margin: 2.5vh auto 1vh;
      // color: #403F45;
    }
    p {
      width: 95%;
      font-size: 1.5rem;
      text-align: center;
      margin: 0 auto 2.5vh;
      font-style: italic;
    }
  } // ServicesText

  // SERVICES //

}


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  #ServicesContainer {
    .ServicesText {
      p {
        line-height: 4vh;
        margin: 0 auto 4vh;
      }
    }
  }
}


// PHONE (Portrait)
@media screen and (max-width: 400px) {
  #ServicesContainer {

    .ServicesText {
      p {
        font-size: 1.2rem;
        margin-bottom: 2vh;
        line-height: 3vh;
        width: 95%;
      }
    }
  }
}
