%Services { // Individual Service
  // border-bottom: 2px solid gainsboro;
  // border: 2px solid gainsboro;
  // border: 2px solid #403F45;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
  border-radius: 6px;
  background-color: #403F45;
  // box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  box-shadow: 12px 13px 10px -1px rgba(0,0,0,0.55);
  // height: 60vh;
  margin-bottom: 5vh;

  .ServicesTitleandList { // Title, List and Link CONTAINER
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    // text-align:center;

    h1 { // Title
      color: white;
      font-size: 3.3rem;
      margin: .3vh auto .5vh;
      text-align: center;
    }

    ul { // List
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 65%;
      line-height: 3vh;
      height: 18vh;
      padding-left: 3vw;


      li {
        color: #eee;
        list-style: circle;
        font-size: 1.3rem;
        margin-right: 2vw;
      }
    }

    #inquire { // Link
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
      padding: 4px;
      width: 20vw;
      height: 4vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 2vh;
      color: black;
      font-weight: bold;
      border: 2px solid #FDEC00;
      background: #FDEC00;
      border-radius: 2px;
      box-shadow: 8px 6px 10px black;
      transition: all .2s ease-in-out;

      &:hover {
        background: none;
        color: #FDEC00;
      }

      // background: none;
      // color: #FDEC00;
      // transition: all .2s ease-in-out;
      //
      // &:hover {
      //   background: #FDEC00;
      //   color: black;
      // }
    }
  } // Title, List and Link

  .ServicesImage { // Service Image Container
    margin: 2vh 1.5vw;

    img { // Service Image
      border-radius: 2px;
      box-shadow: 4px 3px 15px 5px;
      width: 38vw;
      height: 50vh;
      border-radius: 3px;
      // box-shadow: -20px -19px 11px -7px rgba(0,0,0,0.75);

    }
  } // Service Image Container
} // Individual Service //

.ServiceLeft { // LEFT
  @extend %Services;
  flex-direction: row-reverse;
  margin-left: 5vw;
  margin-right: 5vw;
  ul {
    margin-bottom: 2.5vh;
  }
}

.ServiceRight { // RIGHT
  @extend %Services;
  margin-left: 5vw;
  margin-right: 5vw;

  .ServicesTitleandList {
    ul {
      padding-left: 4vw;
      margin-bottom: 0;
    }
  }

}



// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  %Services {
    margin: auto;
    margin-bottom: 5vh;

    .ServicesTitleandList {

      h1 {
        font-size: 3rem;
      }

      ul {
        width: 65%;
        margin-bottom: 2.5vh;
        padding-left: 4vw;

        li {
          margin-bottom: .1vh;
          margin-right: 2vw;
          font-size: 1.2rem;
          line-height: 3.5vh;
          // width: 17vw;
        }
      }
      #inquire {
        width: 25vw;
        height: 5vh;
      }
    }
    .ServicesImage {
      img {
        width: 40vw;
        margin-left: 2.3vw;
        margin-right: 1.8vw;
      }
    }
  }

}


// PHONE (Portrait)
@media screen and (max-width: 420px) {
  %Services { // Individual Service
    width: 100%;
    display: flex;
    flex-direction: column;

    .ServicesTitleandList { // Title, List and Link CONTAINER
    width: 98% !important;
    margin: auto;

      h1 { // Title
        font-size: 2.8rem;
        margin-bottom: .5vh;
        margin-top: 0;

      }

      ul { // List
      height: auto;
      width: 90% !important;
      margin: .5vh auto;

        li {
          font-size: 1.1rem;
          margin-left: 4vw !important;
          line-height: 2.5vh;
        }
      }

      #inquire { // Link
        margin-top: 2vh;
        width: 90%;
        height: 4.2vh;
        font-size: .9rem;
      }
    } // Title, List and Link

    .ServicesImage { // Service Image Container

      img { // Service Image
        width: 95%;
        height: 30vh;
      }
    } // Service Image Container
  } // Individual Service //

  .ServiceLeft { // LEFT
    @extend %Services;


  }

  .ServiceRight { // RIGHT
    @extend %Services;

  }

}
