.Header {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./components/Header/headerimgs/DTNP.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  // background-attachment: fixed;

  #Logo {
    width: 50%;
    position: relative;
    top:15vh;
    opacity: 0;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes heading {
    0% {opacity: 0}
    100% {opacity: 1}
  }


} // HEADER //

// TABLETS
@media screen and (max-width: 1100px) {
  .Header {
    background-size: cover;
    background-position: center;
    height: 55vw;

    #Logo {
      top:10vh;
      width: 85%;
    }
  }

}

// PHONES //
@media screen and (max-width: 500px) {

  .Header {
    background-size: cover;
    background-position: center;
    height: 60vw;

    #Logo {
      top:8vh;
      width: 90%;
    }
  }

}
