#Header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-image: url("./components/Header/headerimgs/DTNP.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  animation: headingContainer;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

    @keyframes headingContainer {
      0% {height: 100vh}
      100% {height: 55vh}
    }

  #Logo {
    // margin: auto;
    margin: 0 auto;
    width: 60%;
    position: relative;
    // bottom: 5vh;
    bottom: 6.5vh;
    opacity: 0;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  h1 {
    color: #eee;
    position: relative;
    bottom: 6vh;
    margin-top: 1vh;
    font-style: italic;
    font-weight: lighter;
    font-size: 2.5rem;
    letter-spacing: 0.03em;
    opacity: 0;
    animation: heading;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

    @keyframes heading {
      0% {opacity: 0}
      100% {opacity: 1}
    }
} // HEADER


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1400px) {
  #Header {
    // height: 60vh !important;
    h1 {
      font-size: 2.3em;
    }
  }
}

// PHONE (Portrait)
@media screen and (max-width: 420px) {
  #Header {
    background-position: center;
    height: 30vh !important;
    #Logo {
      width: 95%;
      bottom: 3vh;
    }
    h1 {
      font-size: 1.3rem;
      bottom: 3vh;
    }
  }
}
