// DESKTOP //
.Header {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./components/Header/headerimgs/DTNP.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  #Logo {
    margin: auto;
    width: 60%;
    position: relative;
    bottom: 5vh;
    opacity: 0;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes heading {
    0% {opacity: 0}
    100% {opacity: 1}
  }
}

// TABLETS
@media screen and (max-width: 1100px) {
  .Header {
    background-size: cover;
    background-position: center;
    height: 55vw;

    #Logo {
      width: 90%;
    }
  }
}

// PHONE (L) //
@media screen and (max-width: 900px) {
  .Header {
    height: 60vh;
    #Logo {
      width: 85%;
    }
  }
}

// PHONE (P) //
@media screen and (max-width: 500px) {
  .Header {
    height: 50vw;
    background-size: cover;
    background-position: center;

    #Logo {
      width: 95%;
      bottom: 2.5vh;
    }
  }
}
