#ServicesLanding {
  width: 100%;
  .ServiceText {
    text-align: center;

    h2 {
      width: 53%;
      font-size: 2.3rem;
      margin: 3vh auto 0 auto;
      // font-style: italic;
    }

    .mission-statement {
      width: 80%;
      font-size: 1.5rem;
      line-height: 4vh;
      margin: 1vh auto 4vh;
      font-style: italic;
    }
  } // ServiceText

}

// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  #ServicesLanding {
    .ServiceText {
      h2 {
        width: 70%;
        margin: 3.5vh auto 0 auto;
      }
      .mission-statement {
        width: 90%;
        font-size: 1.3rem;
        margin: 1.5vh auto 5vh;
      }
    } // ServiceText

  }
}


// PHONE (Portrait)
@media screen and (max-width: 420px) {
  #ServicesLanding {
    .ServiceText {
      h2 {
        margin-top: 2vh;
        font-size: 1.5rem;
        width: 100%;
      }
      .mission-statement {
        width: 90%;
        font-size: 1.1rem;
        line-height: 2.5vh;
        margin: 1vh auto 2vh;
      }
    } // ServiceText

  }
}
