#ContactLanding {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid gainsboro;
  height: 95vh;

  .ContactLanding-Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 { // Contact Us!
      margin-top: 3vh;
      margin-bottom: 0;
      font-size: 3rem;
    }

    h2 { // Monday - Friday
      margin-top: .5vh;
      margin-bottom: 1vh;
    }

  } // ContactLanding-Top

  .ContactLanding-Mid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 { // inquire about...
      font-size: 1.4rem;
      font-weight: normal;
      font-style: italic;
      margin-top: 1vh;
    }

    // FORM //

  } // ContactLanding-Mid

  .ContactLanding-Bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;

    h3 {
      font-size: 1.4rem;
      font-weight: normal;
      font-style: italic;
      margin-top: 3vh;
      margin-bottom: 1.5vh;
    }

    .ContactLanding-Bottom-Links {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      margin-left: 2vw;

      span i {
        font-size: 1.1rem;
      }

      span, a {
        color: black;
        font-size: 1.3rem;
        margin-bottom: 0;
        transition: all .2s ease-in-out;

        &:hover {
          color: #FDEC00;
          // text-shadow: 1px 1px 3px #403F45;
        }
      }

    }

  } // ContactLanding-Bottom
}


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  #ContactLanding {
    height: 102vh;
    .ContactLanding-Top {
      h1 {
        font-size: 2.3rem;
        margin-top: 1.5vh;
      }
      h2 {
        font-size: 1.5rem;
      }
    }

    .ContactLanding-Mid {
      h3 {
        font-size: 1.2rem;
        // margin: 1.2vh auto 2vh;
      }
    }

    form {
      width: 55%;
      margin-bottom: 0;
    }
    .ContactLanding-Bottom {

      h3 {
        font-size: 1.2rem;
        margin-bottom: 2vh;
      }
      .ContactLanding-Bottom-Links {
        width: 35%;
        span {
          font-size: 1rem;
          a {
            font-size: 1.1rem;
          }
        }
      }

    }
  }
}


@media screen and (max-width: 1100px) {
  .ContactLanding-Bottom {

    .ContactLanding-Bottom-Links {
      width: 60% !important;
    }
  }
}


// PHONE (Portrait)
@media screen and (max-width: 420px) {
  #ContactLanding {
    height: 97vh;
    .ContactLanding-Top {
      h1 {
        font-size: 2.3rem;
        margin-top: 1.5vh;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
    .ContactLanding-Mid {
      h3 {
        font-size: 1.1rem;
        margin-top: 1vh;
      }
    }

    .ContactLanding-Bottom {
      h3 {
        margin-bottom: 1vh;
      }
      .ContactLanding-Bottom-Links {
        width: 80%;
        flex-direction: column;
        align-items: center;

        span {
          margin-bottom: 1vh;
          i {
            font-size: .9rem;
          }
          a {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
