.ContactForm { // FORM
  border: 2px solid #403F45;
  // border: 2px solid gainsboro;
  // box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  box-shadow: 10px 20px 25px 0px rgba(0,0,0,0.75);
  background: #403F45;

  padding: .9rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  margin-bottom: 1vh;
  border-radius: 5px;
  // background: #403F45;

  %inputs {
    width: 90%;
    height: 4.5vh;
    border-radius: 3px;
    border: 1px solid lightgrey;

  }

  %labels {
    width: 5vw;
    font-weight: bold;
    font-size: 1.3rem;
  }

  %spans {
    width: 100%;
    display: flex;
    align-items: center;
    // height: 4vh;
  }

  .ContactFormInfo { // INFO - Name, Email, Phone
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    color: #eee;

    span { // Name, email, phone
      @extend %spans;

      label {
        @extend %labels;
      }
      input {
        @extend %inputs;
      }
    } // span

  } // INFO //

  .ContactFormInquire { // INQUIRE w/ TextArea
    display: flex;
    flex-direction: column;
    color: #eee;

    span { // Subject
      @extend %spans;
      margin-top: 1vh;
      label {
        @extend %labels;
      }
      input {
        @extend %inputs;
      }
    } // span

    #inquire-label {
      margin: 1vh auto;
      font-weight: bold;
      font-size: 1.2rem;
    }

    textarea {
      height: 20vh;
      width: 98%;
      margin: 0 auto 1vh;
      padding: .5vh .5vw;
      border-radius: 3px;
    }
  } // INQUIRE //

  .ContactFormButton { // BUTTON
    display: flex;

    input {
      margin: 1vh auto;
      width: 8vw;
      height: 4.5vh;
      font-size: 1.2rem;
      cursor: pointer;
      background: none;
      border-radius: 4px;
      border: 2px solid #FDEC00;
      background: none;
      color: #FDEC00;
      transition: all .2s ease-in-out;

      &:hover {
        background: #FDEC00;
        color: black;
      }
    }

  } // BUTTON //

} // FORM


// LAPTOPS / IPAD PRO (Landscape)
@media screen and (max-width: 1300px) {
  .ContactForm { // FORM
    height: 65vh;

    .ContactFormInfo { // INFO - Name, Email, Phone

      span { // Name, email, phone
        margin-bottom: 1.5vh;
        margin-top: 0;

        label {
          width: 6vw;
        }
        input {
          height: 5vh;
        }
      } // span

    } // INFO //

    .ContactFormInquire { // INQUIRE w/ TextArea


      span { // Subject
        margin-top: 0;
        label {
          width: 6vw;
        }
        input {
          height: 5vh;

        }
      } // span

      #inquire-label {
        margin: 1.2vh auto;
      }

      textarea {
        margin-bottom: 0;
      }
    } // INQUIRE //

    .ContactFormButton { // BUTTON

      input {
        height: 5vh;
        margin-top: 2vh;
        font-size: 1.1rem;

      }

    } // BUTTON //

  } // FORM
}


// PHONE (Portrait)
@media screen and (max-width: 400px) {
  .ContactForm { // FORM
    width: 100% !important;

    .ContactFormInfo { // INFO - Name, Email, Phone

      span { // Name, email, phone

        label {
          width: 20vw;
          font-size: 1.1rem;

        }
        input {
          height: 4.5vh;

        }
      } // span

    } // INFO //

    .ContactFormInquire { // INQUIRE w/ TextArea


      span { // Subject

        label {
          font-size: 1.1rem;
          width: 20vw;
        }
        input {
          height: 4.5vh;

        }
      } // span

      #inquire-label {
        font-size: 1.1rem;
      }

      textarea {
        width: 100%;
      }
    } // INQUIRE //

    .ContactFormButton { // BUTTON

      input {
        width: 25vw;
        height: 4.5vh;
        margin-top: 2vh;
      }

    } // BUTTON //

  } // FORM
}
